<div class="nested_table">
  <% data.each do |key, value| %>
    <div class="nested_tr">
      <div class="nested_td"><%= key %></div>
      <div>
        <% if value.is_a?(Hash) %>
          <%= render partial: "ticket_details", locals: { data: value } %>
        <% else %>
          <%= value.is_a?(Array) ? value.to_sentence : value %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
