<div class="table">
  <div class="table_row">
    <div class="table_property"></div>
    <div class="table_data"></div>
  </div>
  <div class="table_row">
    <div class="table_property"></div>
    <div class="table_data"></div>
  </div>
</div>
