<h1>Ticket Details</h1>
<div id="map"></div>
<script>
  var coordinates = <%= raw @ticket.polygon.to_json %>.coordinates[0]
  var map = L.map('map').setView(coordinates[0], 8);
  var marker = L.marker(coordinates[0]).addTo(map);
  var polygon = L.polygon(coordinates).addTo(map);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);
</script>
