.main {
  padding: 15px;

  &_container {
    margin: 0 auto;
    max-width: 1024px;
    padding-bottom: 70px;
  }

  &_header {
    margin: 0 auto;
    width: 65%;

    @media (max-width: 768px) {
      width: 85%;
    }

    @media (max-width: 480px) {
      width: 100%;
    }
  }

  &_footer {
    text-align: center;
    margin-top: 80px;

    a {
      text-decoration: none;

      &:active, &:visited {
        color: blue;
      }
    }
  }
}

