.show {
  &_map {
    height: 600px;
  }

  &_header {
    text-align: center;

    @media (max-width: 768px) {
      font-size: 1.6rem;
    }

    @media (max-width: 480px) {
      font-size: 1.3rem;
    }
  }

  .table {
    &_row {
      border-bottom: 1px gray solid;
      display: flex;
      padding: 2px;
    }

    &_cell {
      align-self: center;
      border-right: 1px gray solid;
      flex: 1;
      padding: 4px;
    }

    .green {
      color: green;
      font-weight: 600;
      background-color: blanchedalmond;
    }
  }
}
